#user #image-user {
  width: 70vw;
  height: 40vh;
  border-radius: 1000px;
}

#user #name{
  color: rgb(0, 190, 0);
}

#user input {
  border: 1px solid green;
  border-radius: 20px;
  padding: 8px;
  margin: 10px;
  outline-style: none;
}

#user input[type="file"]{
  padding: 14px;
  border: 1px green;
  border-style: dashed;
  border-radius: 30px;
}

#user input[type="file"]::-webkit-file-upload-button {
  background-color: white;
  border: 1px solid green;
  border-radius: 20px;
  padding: 6px;
  outline-style: none;
}

#user button {
  border: 1px solid green;
  background-color: white;
  border-radius: 20px;
  height: 38px;
  outline-style: none;
  margin-bottom: 20px;
  width: 200px;
}

#user button:hover {
  background-color: green;
  color: white;
  transition-duration: 700ms;
}

#user #image-user{
  object-fit: cover;
}

@media screen and (max-width: 1920px) {
  #user #image-user {
    width: 30vw;
    height: 64vh;
  }
}

@media screen and (max-width: 1512px) {
  #user #image-user {
    width: 24vw;
    height: 40vh;
  }
}
@media screen and (max-width: 1400px) {
  #user #image-user {
    width: 40vw;
    height: 60vh;
  }
}

@media screen and (max-width: 1300px) {
  #user #image-user {
    width: 40vw;
    height: 54vh;
  }
}
@media screen and (max-width: 1200px) {
  #user #image-user {
    width: 40vw;
    height: 52vh;
  }
}
@media screen and (max-width: 1100px) {
  #user #image-user {
    width: 48vw;
    height: 48vh;
  }
}

@media screen and (max-width: 1000px) {
  #user #image-user {
    width: 48vw;
    height: 48vh;
  }
}

@media screen and (max-width: 800px) {
  #user #image-user {
    width: 55vw;
    height: 46vh;
  }
}
@media screen and (max-width: 700px) {
  #user #image-user {
    width: 60vw;
    height: 46vh;
  }
}
@media screen and (max-width: 600px) {
  #user #image-user {
    width: 70vw;
    height: 44vh;
  }
}
@media screen and (max-width: 500px) {
  #user #image-user {
    width: 70vw;
    height: 40vh;
  }
}
@media screen and (max-width: 400px) {
  #user #image-user {
    width: 70vw;
    height: 34vh;
  }
}
