#nav a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 0px 0px 0px 20px;
}

#nav a:hover {
  text-decoration: underline;
  transition-duration: 500ms;
}

#nav nav {
  background-color: rgb(0, 200, 0);
  display: flex;
  height: 4vh;
  padding: 10px;
  align-items: center;
}

#nav input {
  align-self: center;
  border-radius: 14px;
  border: 1px solid white;
  height: 4vh;
  outline-style: none;
  padding-left: 10px;
  width: 50vw;
}

@media screen and (max-width: 1920px) {
  #nav input {
    width: 20vw;
  }
  #nav nav {
    width: 98vw;
  }
}

@media screen and (max-width: 1366px) {
  #nav input {
    width: 30vw;
  }
  #nav nav {
    width: 95vw;
  }
}

@media screen and (max-width: 880px) {
  #nav input {
    width: 40vw;
  }
  #nav nav {
    width: 95vw;
  }
}

@media screen and (max-width: 600px) {
  #nav input {
    width: 50vw;
  }
  #nav nav {
    width: 95vw;
  }
}
@media screen and (max-width: 500px) {
  #nav input {
    height: 32px;
    width: 45vw;
  }
  #nav nav {
    width: 95vw;
  }
}
